<div class="product-info">
  <br>
    <h1>{{product.title}}</h1>
    <img src={{product.image}}>
  <br>
  <h4>Price: ${{product.cost}}</h4>
  <div class="button-info">
    <button {{action 'addToCart' product}}>Add to Cart</button>
    <button {{action 'remove' product}}>Remove from Cart</button>
  </div>
</div>
