<div class="container">
  <div class="col-xs-6">
  <h1>{{product.title}}</h1>
  <img src={{product.image}}>
  <br>
  <h3>{{product.description}}</h3>
  <h4>Price: ${{product.cost}}</h4>
  <button {{action 'addToCart' product}}>Add to Cart</button>
  <button {{action 'remove' product}}>Remove from Cart</button>
  <hr>
</div>
</div>
